schemas/schemas.xsd

<?xml version="1.0"?>
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <xsd:element name="ControlBasis" type="ControlBasisType"/>
 <xsd:complexType name="ControlBasisType">
  <xsd:sequence>
   <xsd:element name="Controller" type="ControllerType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:element name="Controller" type="ControllerType"/>
 <xsd:complexType abstract="true" name="ControllerType">
  <xsd:sequence>
   <xsd:element name="Name" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:element name="Reference" type="ReferenceType"/>
 <xsd:complexType name="ReferenceType" abstract="true"/>

 <xsd:element name="SensorTransform" type="SensorTransformType"/>
 <xsd:complexType name="SensorTransformType" abstract="true">
  <xsd:sequence>
   <xsd:element name="ComponentName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:element name="EffectorTransform" type="EffectorTransformType"/>
 <xsd:complexType name="EffectorTransformType" abstract="true">
  <xsd:sequence/>
 </xsd:complexType>

 <xsd:element name="CombinationStrategy" type="CombinationStrategyType"/>
 <xsd:complexType name="CombinationStrategyType" abstract="true"/>

 <xsd:element name="Resource" type="ResourceType"/>
 <xsd:complexType name="ResourceType" abstract="true">
  <xsd:sequence>
  </xsd:sequence>
 </xsd:complexType>


 <xsd:element name="ControllerSequence" type="ControllerSequenceType"/>
 <xsd:complexType name="ControllerSequenceType">
  <xsd:complexContent>
   <xsd:extension base="ControllerType">
    <xsd:sequence>
     <xsd:element name="Controller" type="ControllerType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:element name="PrimitiveController" type="PrimitiveControllerType"/>
 <xsd:complexType name="PrimitiveControllerType">
  <xsd:complexContent>
   <xsd:extension base="ControllerType">
    <xsd:sequence>
      <xsd:element name="Coefficient" type="xsd:float"/>

      <xsd:element name="ConvergenceCriterion" type="ConvergenceCriterionType" minOccurs="1" maxOccurs="unbounded"/>

      <xsd:element name="Reference" type="ReferenceType"/>

      <xsd:element name="Potential" type="PotentialType"/>

      <xsd:element name="SensorTransform" type="SensorTransformType"/>
      <xsd:element name="EffectorTransform" type="EffectorTransformType"/>

      <xsd:element name="PrimitiveController" type="PrimitiveControllerType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CombinationStrategy" type="CombinationStrategyType"/>

      <xsd:element name="Resource" type="ResourceType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="CompositePrimitiveControllerType">
  <xsd:complexContent>
   <xsd:extension base="PrimitiveControllerType">
    <xsd:sequence>
     <xsd:element name="Controller" type="PrimitiveControllerType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="AvoidSingularitiesControllerType">
  <xsd:complexContent>
   <xsd:extension base="PrimitiveControllerType">
    <xsd:sequence>
     <xsd:element name="SamplingStep" type="xsd:float" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:element name="Vector" type="VectorType"/>
 <xsd:complexType name="VectorType" abstract="true">
 </xsd:complexType>

 <xsd:complexType name="SimpleVectorType">
  <xsd:complexContent>
   <xsd:extension base="VectorType"> 
    <xsd:sequence>
     <xsd:element name="Coefficient" type="xsd:float" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="BoostVectorType">
  <xsd:complexContent>
   <xsd:extension base="VectorType"> 
    <xsd:sequence>
     <xsd:element name="String" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="EulerToAxisAngleType">
  <xsd:complexContent>
   <xsd:extension base="VectorType"> 
    <xsd:sequence>
     <xsd:element name="String" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="AddingStrategyType">
  <xsd:complexContent>
   <xsd:extension base="CombinationStrategyType">
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="ConvergenceCriterionType" abstract="true">
   <xsd:sequence/>
 </xsd:complexType>

 <xsd:complexType name="TaskSpaceDistanceThresholdType">
  <xsd:complexContent>
   <xsd:extension base="ConvergenceCriterionType">
    <xsd:sequence>
     <xsd:element name="Threshold" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="ResourceStepNormThresholdType">
  <xsd:complexContent>
   <xsd:extension base="ConvergenceCriterionType">
    <xsd:sequence>
     <xsd:element name="Threshold" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:element name="Potential" type="PotentialType"/>
 <xsd:complexType abstract="true" name="PotentialType">
  <xsd:sequence>
   <xsd:element name="MaxGradientStepNorm" type="xsd:float"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="XCFVectorReferenceType">
  <xsd:complexContent>
   <xsd:extension base="ReferenceType">
    <xsd:sequence>
     <xsd:element name="Name" type="xsd:string"/>
     <xsd:element name="Dimension" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="DummyReferenceType">
  <xsd:complexContent>
   <xsd:extension base="ReferenceType">
    <xsd:sequence>
     <xsd:element name="Vector" type="VectorType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="SpaceNaviReferenceType">
  <xsd:complexContent>
   <xsd:extension base="ReferenceType">
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="CartesianReferenceType">
  <xsd:complexContent>
   <xsd:extension base="ReferenceType">
    <xsd:sequence>
     <xsd:element name="Vector" type="VectorType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="CompositeReferenceType">
  <xsd:complexContent>
   <xsd:extension base="ReferenceType">
    <xsd:sequence>
     <xsd:element name="Reference" type="ReferenceType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="CompositeResourceType">
  <xsd:complexContent>
   <xsd:extension base="ResourceType">
    <xsd:sequence>
     <xsd:element name="Resource" type="ResourceType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="GenericEffectorTransformType">
  <xsd:complexContent>
   <xsd:extension base="EffectorTransformType">
    <xsd:sequence>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="DampedGenericEffectorTransformType">
  <xsd:complexContent>
   <xsd:extension base="EffectorTransformType">
    <xsd:sequence>
     <xsd:element name="DampingConstant" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="DampedWeightedGenericEffectorTransformType">
  <xsd:complexContent>
   <xsd:extension base="EffectorTransformType">
    <xsd:sequence>
     <xsd:element name="Weights" type="MatrixType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


<xsd:complexType name="IdentityEffectorTransformType">
  <xsd:complexContent>
   <xsd:extension base="EffectorTransformType">
    <xsd:sequence>
     <xsd:element name="Dimension" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="EffectorTransformChainType">
  <xsd:complexContent>
   <xsd:extension base="EffectorTransformType">
    <xsd:sequence>
     <xsd:element name="EffectorTransform" type="EffectorTransformType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="LinearEffectorTransformType">
   <xsd:complexContent>
   <xsd:extension base="EffectorTransformType">
    <xsd:sequence>
     <xsd:element name="Matrix" type="MatrixType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="TreeBaseType" abstract="true">
  <xsd:sequence>
   <xsd:element name="Name" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="TreeType">
  <xsd:complexContent>
   <xsd:extension base="TreeBaseType">
    <xsd:sequence>
     <xsd:element name="Segment" type="TreeSegmentType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="ChainBaseType" abstract="true">
  <xsd:sequence>
   <xsd:element name="Name" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="ChainReferenceType">
  <xsd:complexContent>
   <xsd:extension base="ChainBaseType">
    <xsd:sequence>
     <xsd:element name="Reference" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="ChainType">
  <xsd:complexContent>
   <xsd:extension base="ChainBaseType">
    <xsd:sequence>
     <xsd:element name="Segment" type="SegmentType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="TreeSegmentType">
  <xsd:complexContent>
   <xsd:extension base="SegmentType">
    <xsd:sequence>
     <xsd:element name="Segment" type="TreeSegmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="SegmentType">
  <xsd:sequence>
   <xsd:element name="Name" type="xsd:string"/>
   <xsd:element name="Frame" type="FrameType"/>
   <xsd:element name="Joint" type="JointType"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="FrameType" abstract="true">
  <xsd:sequence>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="MatrixFrameType">
  <xsd:complexContent>
   <xsd:extension base="FrameType">
    <xsd:sequence>
     <xsd:element name="Matrix" type="MatrixType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="TranslationFrameType">
  <xsd:complexContent>
   <xsd:extension base="FrameType">
    <xsd:sequence>
     <xsd:element name="Vector" type="VectorType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="JointType">
  <xsd:sequence>
   <!-- This can be either "Rotational", "Translational" or "None" -->
   <xsd:element name="Type" type="xsd:string" minOccurs="1" maxOccurs="1"/>

   <!-- This can be either "X", "Y" or "Z" -->
   <xsd:element name="Axis" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="MatrixType" abstract="true">
  <xsd:sequence>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="BoostMatrixType">
  <xsd:complexContent>
   <xsd:extension base="MatrixType">
    <xsd:sequence>
     <xsd:element name="String" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="BoostTranslationMatrixType">
  <xsd:complexContent>
   <xsd:extension base="MatrixType">
    <xsd:sequence>
     <xsd:element name="TranslationVector" type="BoostVectorType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="NormSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="SensorTransform" type="SensorTransformType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="IdentitySensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="Dimension" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="PythonSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="TaskDimension"  type="xsd:nonNegativeInteger"/>
     <xsd:element name="ResourceDimension"  type="xsd:nonNegativeInteger"/>
     <xsd:element name="InitScript" type="xsd:string"/>
     <xsd:element name="ExecScript" type="xsd:string"/>
     <xsd:element name="FiniScript" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="SensorTransformChainType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="SensorTransform" type="SensorTransformType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="CompositeSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="SensorTransform" type="SensorTransformType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="DifferenceSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="SensorTransform" type="SensorTransformType" minOccurs="2" maxOccurs="2"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="WeightedSumSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="SensorTransform" type="SensorTransformType" minOccurs="1" maxOccurs="unbounded"/>
     <xsd:element name="Weights" type="VectorType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="KDLTreePositionSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="Tree" type="TreeBaseType"/>
     <xsd:element name="SegmentName" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="KDLTreeAxisAngleSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="Tree" type="TreeBaseType"/>
     <xsd:element name="SegmentName" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>




 <xsd:complexType name="KDLChainPositionSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="Chain" type="ChainBaseType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="KDLChainAxisAngleSensorTransformType">
  <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="Chain" type="ChainBaseType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="LinearSensorTransformType">
   <xsd:complexContent>
   <xsd:extension base="SensorTransformType">
    <xsd:sequence>
     <xsd:element name="Matrix" type="MatrixType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="CompositePotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Potential" type="PotentialType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="SquarePotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Dimension" type="xsd:nonNegativeInteger"/>
     <xsd:element name="Coefficient" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="PythonPotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Dimension"  type="xsd:nonNegativeInteger"/>
     <xsd:element name="InitScript" type="xsd:string"/>
     <xsd:element name="ExecScript" type="xsd:string"/>
     <xsd:element name="FiniScript" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="QuaternionPotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Coefficient" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="AxisAnglePotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Coefficient" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="AxisPotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Coefficient" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="NavigationFunctionPotentialType">
  <xsd:complexContent>
   <xsd:extension base="PotentialType">
    <xsd:sequence>
     <xsd:element name="Coefficient" type="xsd:float"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="DummyResourceType">
  <xsd:complexContent>
   <xsd:extension base = "ResourceType">
    <xsd:sequence>
     <xsd:element name="Vector" type="VectorType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="MaskingResourceType">
  <xsd:complexContent>
   <xsd:extension base = "ResourceType">
    <xsd:sequence>
     <xsd:element name="Resource" type="ResourceType"/>
     <!-- Specify the components you want as integers -->
     <xsd:element name="Index" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="RobotInterfaceResourceType">
  <xsd:complexContent>
   <xsd:extension base = "ResourceType">
    <xsd:sequence>
     <xsd:element name="MemoryName" type="xsd:string"/>
     <xsd:element name="RobotName" type="xsd:string"/>
     <xsd:element name="NumberOfJoints" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="PrimitiveControllerResourceType">
  <xsd:complexContent>
   <xsd:extension base = "ResourceType">
    <xsd:sequence>
     <xsd:element name="PrimitiveController" type="PrimitiveControllerType"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

 <xsd:complexType name="PA10JointResourceType">
  <xsd:complexContent>
   <xsd:extension base = "ResourceType">
    <xsd:sequence>
     <xsd:element name="Arm" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>

</xsd:schema>
